.form-button {
  width: 8rem;
  height: 3rem;
  border-radius: 20px;
  font-size: x-large;
  font-weight: 900;
  border: 2px solid #8b1313;
  color: #8b1313;
  background-color: #000;
  transition: 300ms;

  &:hover {
    background-color: #bf1515;
    border: 2px solid #bf1515;
    color: #fff;
    transition: 300ms;
  }
}