.footer-main {
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  background-color: #000;
}

.footer-author {
  color: #fff;
  padding: 0.5rem 0;
}

.footer-caio {
  text-decoration: none;
  color: #bf1515;
}

.footer-disclaimer {
  padding: 0.5rem 0;
  width: 90%;
  color: #fff;
  text-align: justify;
}

@media (min-width: 1279px) {
  .footer-main {
    flex-direction: row;
    padding: 0rem 8rem;
  }

  .footer-caio {
    color: #fff;

    &:hover {
      color: #bf1515;
    }
  }

  .footer-disclaimer {
    width: 45%;
  }
}