.footer-main {
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 8rem;
  background-color: aqua;
}

.footer-caio {
  text-decoration: none;
}

.footer-disclaimer {
  width: 35%;
}