.footer-main {
  min-height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 8rem;
  background-color: black;
}

.footer-author {
  color: white;
}

.footer-caio {
  text-decoration: none;
  color: white;

  &:hover {
    color: red;
  }
}

.footer-disclaimer {
  width: 35%;
  color: white;
}