.header-main {
  background-color: grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  height: 8rem;
  width: 100%;
  position: fixed;
}

.header-logo {
  height: 5rem;
  padding-left: 8rem;
}

.header-nav-links {
  padding-right: 8rem;
  text-decoration: none;
  color: red;
  font-weight: 700;
  font-size: 2rem;
}