.header-main-fullsize {
  backdrop-filter: blur(15px);
  background: rgba($color: #fff, $alpha: 0.15);
  box-shadow: 0 0 10px 1px rgba($color: #000, $alpha: 0.35);
  z-index: 10;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  height: 8rem;
  width: 100%;
  transition: 500ms;

  .header-logo {
    height: 5rem;
    padding-left: 8rem;
    transition: 500ms;
  }
}

.header-main-collapsed {
  backdrop-filter: blur(15px);
  background: rgba($color: #fff, $alpha: 0.3);
  box-shadow: 0 0 10px 1px rgba($color: #000, $alpha: 0.35);
  z-index: 10;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  height: 4rem;
  width: 100%;
  transition: 500ms;

  .header-logo {
    height: 3rem;
    padding-left: 8rem;
    transition: 500ms;
  }

}

  .header-nav-links {
    margin-right: 8rem;
    text-decoration: none;
    text-shadow: 0 0 3px black;
    color: #8b1313;
    font-weight: 700;
    font-size: 2rem;
    transition: 200ms;
    
    &:hover {
      text-shadow: 0 0 5px black;
      color: #bf1515;
      transition: 200ms;
    }
  }