// .whey-main {
//   display: flex;
//   flex-direction: column;
// }

// .whey-conditionals-0{
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .whey-conditionals-1{
//   display: flex;
//   flex-direction: row-reverse;
// }

// .whey-closebtn {
//   @media (max-width: 820px) {
//     position: absolute;
//   }
//   height: 2rem;
//   width: 2rem;
//   margin-top: 2rem;
//   background: none;
//   border: none;
// }

// .whey-close-img {
//   height: 2.5rem;
//   width: 2.5rem;
//   filter: invert(20%) sepia(64%) saturate(3225%) hue-rotate(346deg) brightness(82%) contrast(120%);
//   transition: 300ms;

//   &:hover {
//     filter: invert(100%) sepia(6%) saturate(23%) hue-rotate(113deg) brightness(106%) contrast(106%);
//     transition: 300ms;
//   }
// }

// .whey-info-wrap {
//   padding: 1rem;
//   margin: 1rem;
//   background: rgba($color: #fff, $alpha: 0.7);
//   border-radius: 25px;
// }

// .whey-info {
//   width: 20rem;
//   font-size: larger;
//   text-align: center;
//   color: #000;
//   font-weight: 500;
//   padding-bottom: 1rem;

//   strong {
//     color: #8b1313;
//   }
// }

// .whey-form-main {
//   display: flex;
//   flex-direction: column;
//   padding: 2rem;
// }

// .whey-labels {
//   font-family: 'Russo One', sans-serif;
//   font-size: 2rem;
//   text-align: center;
//   color: #8b1313;
//   text-shadow: 0 0 5px #000;
//   padding-bottom: 0.5rem;
// }

// .whey-inputs {
//   color: #fff;
//   font-size: x-large;
//   border-style: none;
//   border-radius: 20px;
//   padding: 0rem 1rem;
//   margin-top: 0.5rem;
//   height: 3rem;
//   width: 20rem;
//   backdrop-filter: blur(15px);
//   background: rgba($color: #fff, $alpha: 0.15);
//   border: 2px solid transparent;

//   &::-webkit-inner-spin-button,
//   &::-webkit-outer-spin-button {
//     -webkit-appearance: none;
//   }

//   &:focus {
//     outline: none;
//     border: 2px solid #bf1515;
//   }
// }

.whey-main {
  display: flex;
  flex-direction: column;
}

.whey-conditionals-0{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whey-conditionals-1{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whey-closebtn {
  height: 2rem;
  width: 2rem;
  margin-top: 2rem;
  background: none;
  border: none;
}

.whey-close-img {
  height: 2.5rem;
  width: 2.5rem;
  filter: invert(20%) sepia(64%) saturate(3225%) hue-rotate(346deg) brightness(82%) contrast(120%);
  transition: 300ms;

  &:hover {
    filter: invert(100%) sepia(6%) saturate(23%) hue-rotate(113deg) brightness(106%) contrast(106%);
    transition: 300ms;
  }
}

.whey-info-wrap {
  padding: 1rem;
  margin: 1rem;
  background: rgba($color: #fff, $alpha: 0.7);
  border-radius: 25px;
}

.whey-info {
  width: 20rem;
  font-size: larger;
  text-align: center;
  color: #000;
  font-weight: 500;
  padding-bottom: 1rem;

  strong {
    color: #8b1313;
  }
}

.whey-form-main {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.whey-labels {
  font-family: 'Russo One', sans-serif;
  font-size: 2rem;
  text-align: center;
  color: #8b1313;
  text-shadow: 0 0 5px #000;
  padding-bottom: 0.5rem;
}

.whey-inputs {
  color: #fff;
  font-size: x-large;
  border-style: none;
  border-radius: 20px;
  padding: 0rem 1rem;
  margin-top: 0.5rem;
  height: 3rem;
  width: 20rem;
  backdrop-filter: blur(15px);
  background: rgba($color: #fff, $alpha: 0.15);
  border: 2px solid transparent;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  &:focus {
    outline: none;
    border: 2px solid #bf1515;
  }
}