@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
$gym: url(../../Images/gym-bg.png);
$scoop: url(../../Images/whey-scoop-bg.png);

.entire-page {
  display: flex;
  flex-direction: column;
}

.main-view {
  height: 100.1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: $gym;
  background-size: cover;
}

.main-welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: inherit;
  margin: 0 8rem;
}

.main-curl {
  visibility: hidden;
}

.main-welcome-title {
  font-family: 'Russo One', sans-serif;
  color: #8b1313;
  font-size: 3.5rem;
  text-shadow: 0 0 50px #000;
  z-index: 2;
  text-align: center;
  margin: 0.5rem;

  span {
    font-family: 'Russo One', sans-serif;
    color: #fff;
    text-shadow: 0 0 50px #000;
  }
}

.main-welcome-text {
  text-align: center;
  font-weight: 900;
  color: #fff;
  text-shadow: 2px 2px 5px #000;
  font-size: 1.5rem;
  width: 70%;
  z-index: 2;
  width: 95%;
  margin: 0;
}

.main-calculator {
  min-height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: $scoop;
  background-size: cover;
  background-position: center;
}

.main-forms {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.forms-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.compare-button {
  font-family: 'Russo One', sans-serif;
  width: 8rem;
  height: 3rem;
  border-radius: 20px;
  font-size: x-large;
  border: 2px solid #8b1313;
  color: #8b1313;
  background-color: #000;
  transition: 300ms;
  margin: 1rem 0;

  &:hover {
    color: #fff;
    border: 2px solid #bf1515;
    background-color: #bf1515;
    transition: 300ms;
  }
}

.main-forms-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1279px) {
  .main-welcome {
    position: relative;
  }

  .main-curl {
    visibility: visible;
    position: absolute;
    z-index: 1;
    height: 80%;
    left: -200px;
    bottom: 0;
    opacity: 0.6;
  }

  .main-welcome-title {
    font-size: 8rem;
    z-index: 2;
  }

  .main-welcome-text {
    font-size: 2rem;
    width: 70%;
    z-index: 2;
  }

  .forms-wrap {
    flex-direction: row;
  }
}